n8n-workflow/Workflow_Chat_IA .json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente que ajuda usuários a encontrar imóveis. Sempre responda com um JSON contendo os campos: tipo, min, max, cidade, bairro, quartos, etc, conforme solicitado pelo usuário. Se algum campo não for mencionado, deixe em branco ou omita.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json['mensagem']}}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "c63f26f4-d060-4f27-8d98-1d84394ff124",
      "name": "Processar com IA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 380],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Parse da resposta da IA\n// Supondo que a resposta vem em item.json.choices[0].message.content\nconst resposta = $json.choices[0].message.content;\nlet filtros = {};\ntry {\n  filtros = JSON.parse(resposta);\n} catch (e) {\n  // fallback: tenta extrair com regex se não vier JSON\n}\nconst params = [];\nif (filtros.tipo) params.push(`type=${encodeURIComponent(filtros.tipo)}`);\nif (filtros.min) params.push(`minPrice=${filtros.min}`);\nif (filtros.max) params.push(`maxPrice=${filtros.max}`);\nconst query = params.length ? `?${params.join('&')}` : '';\nreturn [{ json: { query, filtros } }];"
      },
      "id": "6eb54975-f956-4989-8d2a-0c7284ec8658",
      "name": "Preparar Parâmetros",
      "type": "n8n-nodes-base.code",
      "position": [1120, 380],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "http://192.168.1.36:3024/properties",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "minPrice",
              "value": "={{$json[\"minPrice\"]}}"
            },
            {
              "name": "maxPrice",
              "value": "={{$json[\"maxPrice\"]}}"
            },
            {
              "name": "type",
              "value": "={{$json[\"type\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "57328a59-529e-4168-a9ed-54e527a931de",
      "name": "Buscar Imóveis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1320, 380],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Espera array de imóveis em item.json\nconst imoveis = $json;\nif (!Array.isArray(imoveis) || imoveis.length === 0) {\n  return [{ json: { resposta: 'Nenhum imóvel encontrado com os filtros informados.' } }];\n}\nconst resposta = imoveis.map(imovel =>\n  `🏠 ${imovel.title}\\n📍 ${imovel.address}\\n💵 R$ ${imovel.price}\\n🏷️ ${imovel.type}`\n).join('\\n\\n');\nreturn [{ json: { resposta } }];"
      },
      "id": "573ef5cc-3e03-4c03-976e-3b33c4fb5edb",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.code",
      "position": [1520, 380],
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-imoveis",
        "options": {
          "responseData": "allEntries"
        }
      },
      "id": "9951a025-8ff4-40d2-9c3e-8aa1840134ae",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "position": [720, 380],
      "typeVersion": 2,
      "webhookId": "ee160f11-fded-4789-8876-b7baff9efa85"
    }
  ],
  "pinData": {},
  "connections": {
    "Processar com IA": {
      "main": [
        [
          {
            "node": "Preparar Parâmetros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Parâmetros": {
      "main": [
        [
          {
            "node": "Buscar Imóveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Imóveis": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Processar com IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "873586b0-a1ef-4195-9391-d88394887366",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc5ecc0f04fe4bdfcd4b88e6b86c91c6dc7b71be17af2082c0afb34cc53cdf1d"
  },
  "id": "kcX55DIASRiNEzk2",
  "tags": []
}
